{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
        <button class="button"; id="button"><img src="{% static 'main/img/imgonline-com-ua-Resize-N884o1Gd8fD4Nx1-removebg-preview.svg' %}" alt=""></button>
        
        <span class="logo"></span>

        <link rel="icon" href="data:;base64,=">

        <style>
            body{background:url("{% static 'main/img/clouds-2821064_1280.svg' %}") no-repeat; background-size: 100%;}
        </style>

        <div id="h1">
            <h1>0</h1>
        </div>
        
        <script src="{% static '/main/js/main.js' %}"></script>

    <main>

    </main>

</body>
</html>